version: '3.8'

services:
  rag-api:
    image: rag-service:latest  # Используем уже собранный образ
    container_name: rag-api
    ports:
      - "8000:8000"
    volumes:
      - ./app:/app/app  # Монтируем папку с кодом
      - ./scripts:/app/scripts
    environment:
      - OLLAMA_HOST=host.docker.internal
      - QDRANT_HOST=qdrant
    extra_hosts:
      - "host.docker.internal:host-gateway"
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]
    restart: unless-stopped
    stdin_open: true
    tty: true

  qdrant:
    image: qdrant/qdrant:latest
    container_name: qdrant
    ports:
      - "6333:6333"
      - "6334:6334"
    volumes:
      - qdrant_data:/qdrant/storage
    restart: unless-stopped

volumes:
  qdrant_data: